
.ql-editor {
    min-height: 18em;
  }

.ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
  }
/* .container-newboard{
    width: 70vw;
    margin: 0 5vw;
} */
.card-detalhe{
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 0 5vw;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 15px;
  background-color: rgb(241, 241, 241);
}

.tags-div-board{
  display: flex;
}

.titulo-board{
  width: 99.5%;
}
.orgao-board{
  width: 99.5%;
  margin-bottom: 10px;
}
.card-detalhe>button{
  margin: 0.5vw;
  width: 7rem;
}
.tags-lista{
  display: flex;
  flex-wrap: wrap;
}
.btn-group{
  flex-wrap: wrap;
}