
.ql-editor {
    min-height: 18em;
  }

.ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
  }
.container-newboard{
    margin: 0 5vw;
}
.det-board {
  width: 99.5%;
}
.tag-board{
  width: 99.5%;
} 
.titulo-board{
  width: 99.5%;
}
.orgao-board{
  width: 99.5%;
  margin-bottom: 10px;
}