
.ql-editor {
    min-height: 18em;
  }

.ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
  }
.container-newboard{
    margin: 0 5vw;
}
.container-newboard {
  width: 70vw;
}
.tags-div-board{
  display: flex;
}

.titulo-board{
  width: 99.5%;
}
.orgao-board{
  width: 99.5%;
  margin-bottom: 10px;
}